botocore>=1.18.1
neo4j>=1.7.6,<4.0.0
neobolt>=1.7.0,<4.0.0
requests>=2.22.0
statsd
packaging
flask
maya
pytz

# Azure specific packages
cryptography<3.4,>=3.2
PyJWT==1.7.1
adal>=1.2.4
azure-cli-core>=2.12.0
azure-mgmt-compute>=5.0.0
azure-mgmt-cosmosdb>=6.1.0
azure-mgmt-resource>=10.2.0
azure-mgmt-sql>=0.11.0
azure-mgmt-storage>=7.1.0
msrestazure>=0.6.4
